{#
 /**
  * PH35 Sample14 マスタテーブル管理Slim版 Src19
  * ログイン画面
  *
  * @author Shinzo SAITO
  *
  * ファイル名=login.html
  * フォルダ=/templates/
  */
  #}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Shinzo SAITO">
    <title>ログイン | sharerepo </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>
  <body>
    <h1>ログイン</h1> {% if validationMsgs %} <section id="errorMsg">
      <p>以下のメッセージをご確認ください。</p>
      <ul> {% for msg in validationMsgs %} <li>{{msg}}</li> {% endfor %} </ul>
    </section> {% endif %} <section>
      <p> IDとパスワードを入力し、ログインをクリックしてください。 </p>
      <form action="/login" method="post">
        <dl>
          <dt>ID</dt>
          <dd>
            <input type="email" id="loginId" name="loginId" value="{{loginId}}" required>
          </dd>
          <dt>パスワード</dt>
          <dd>
            <input type="password" id="loginPw" name="loginPw" required>
          </dd>
        </dl>
        <button type="submit">ログイン</button>
      </form>
    </section>
  </body>
</html>
