/*
 * PH35 Sample14 マスタテーブル管理Slim版 Src01
 *
 * CSSファイル
 *
 * ファイル名=main.css
 * フォルダ=/ph35/scottadminslim/public/css/
*/

@charset "utf-8";
table td p {
  word-break: break-all;
}
dl dd p {
  word-break: break-all;
}
form label {
  display: flex;
}

#breadcrumbs ul li {
  display: inline;
  list-style-type: none;
}
#breadcrumbs {
  margin-left: 0px;
}
#breadcrumbs ul {
  padding-left: 0px;
}
#breadcrumbs ul .current {
  color: red;
}
#breadcrumbs ul li:before {
  content: " > ";
}
#breadcrumbs ul li:first-child:before {
  content: none;
}
.required {
  color: red;
  font-size: 12px;
}
#errorMsg {
  border: solid 1px orange;
  color: red;
  padding: 10px;
  margin: 20px;
  width: 400px;
}
.box {
  border: solid green 1px;
  padding: 10px;
}
