{#
 /**
  * @author Syuto Niimi
*/
#}
<!DOCTYPE html>
<html lang="ja">
  <meta charset="UTF-8">
  <meta name="author" content="board">
  <title>ユーザー削除</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>
  <body>
    <h1>ユーザー情報削除</h1>
    <nav id="breadcrumbs">
      <p><span>{{ session.name }}さんこんにちは</span><a href="/logout">ログアウト</a></p>
      <ul>
        <li><a href="/user/profile">ユーザーリスト</a></li>
        <li>ユーザー情報削除</li>
      </ul>
    </nav>
    <section>
      <p> 以下のユーザーを削除します。<br> よろしければ、削除ボタンをクリックしてください。 </p>
      <dl>
        <dt>ユーザーID</dt>
        <dd>{{ session.id }}</dd>
        <dt>ハンドルネーム</dt>
        <dd>{{ session.name }}</dd>
      </dl>
      <form action="/user/delete" method="post"> {# //deleteメソッド 204のbody無しを返す #} <input type="hidden" name="_METHOD"
          value="DELETE">
        <input type="hidden" id="userId" name="userId" value="{{ session.id }}">
        <button type="submit">削除</button>
      </form>
    </section>
  </body>
</html>
